# This is the runtime configuration file for the print server that is
# used in labs 5-7 of CprE 308.

PRINTER_GROUP black_white
PRINTER printer/drivers/printer0
#PRINTER printer/drivers/printer1
#PRINTER printer/drivers/printer2
#PRINTER printer/drivers/printer3

PRINTER_GROUP color
#PRINTER printer/drivers/printer4
#PRINTER printer/drivers/printer5
